i {
  font-style: normal;
}

.searchBar {
  display: flex;
  flex-direction: row;
  border: 2px solid transparent;
  margin-right: 650px;
}

.logo {
  display: flex;
  flex-direction: row;
  padding-bottom: 25px;
}

.upload {
  display: flex;
  flex-direction: row;
}

img {
  width: 100px;
  margin-right: 25px;
}

.profile img {
  display: flex;
  width: 70px;
  height: 70px;
  overflow: hidden;
  border-radius: 50%;
}

.btn {
  background-color: white;
  border: none;
  color: lightgrey;
  padding: 12px 16px;
  font-size: 16px;
}

.mainbody {
  height: calc(100vh - 70px);
  display: flex;
  width: 100%;
  position: relative;
}

.guides {
  width: 250px;
  height: 100%;
}

.guideButton {
  margin-right: 25px;
  padding: 0 10px;
}

.guideSection {
  display: flex;
  flex-direction: column;
}

.guide {
  width: 100%;
  display: flex;
  padding: 10px 25px;
}

.guide i {
  margin-right: 25px;
}

.video {
  background-color: white;
}

.subscribe {
  display: flex;
  height: 40px;
  width: 100px;
  background-color: white;
}

.subscribeButton {
  background: red;
  color: white;
  border: 2px solid transparent;
}

.likeDislike {
  margin-left: 750px;
  display: flex;
  border: 2px solid transparent;
  border-radius: 40%;
}

.contentBox {
  display: flex;
  justify-content: space-between;
}

.left {
  width: 20%;
  height: 100%;
  top: 74px;
  left: 0;
  position: absolute;
  background: transparent;
}
.flexContainer {
  height: 1000px;
  width: 1025px;
  margin-left: 200px;
  background: ghostwhite;
}

.flexContainer img {
  height: 500px;
  width: 850px;
  margin-left: 85px;
}

.uploaderInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgb(192, 192, 192);
  background-color: white;
}

.uploaderInfo img {
  display: flex;
  flex-direction: row;
  width: 25px;
  height: 25px;
  overflow: hidden;
  border-radius: 50%;
  margin-left: 5px;
  margin-right: 5px;
}

.commentBox {
  display: flex;
  flex-direction: column;
}

.commentOne img {
  display: flex;
  flex-direction: row;
  width: 25px;
  height: 25px;
  overflow: hidden;
  border-radius: 50%;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
}

.commentOne {
  display: flex;
  flex-direction: column;
  background: ghostwhite;
  width: 1000px;
  align-content: center;
}

.commentTwo {
  display: flex;
  flex-direction: column;
  background: white;
  width: 1000px;
  align-content: center;
}
.commentTwo img {
  display: flex;
  flex-direction: row;
  width: 25px;
  height: 25px;
  overflow: hidden;
  border-radius: 50%;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
}
.commentThree {
  display: flex;
  flex-direction: column;
  background: ghostwhite;
  width: 1000px;
  align-content: center;
}
.commentThree img {
  display: flex;
  flex-direction: row;
  width: 25px;
  height: 25px;
  overflow: hidden;
  border-radius: 50%;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
}
